.datatable-wrapper .dataTables_length select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(74, 85, 104)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-size: 15px;
    background-position: center right 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 0.375rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    background-repeat: no-repeat;
    padding-right: 2rem;
}

.datatable-wrapper .dataTables_filter {
    margin-right: auto;
}

@media (max-width: 639px) {
    .datatable-wrapper .dataTables_filter {
        width: 100%;
        margin-left: 0;
        margin-top: 0.75rem;
    }

    .datatable-wrapper .dataTables_filter input {
        width: 10rem;
    }
    .dataTables_length{
        display: none;
    }
    .dataTables_filter{
        display: none;
    }
}

.datatable-wrapper .dataTables_filter input {
    padding: 0.5rem 0.75rem;
    /*padding-bottom: 0.5rem;*/
    /*padding-left: 0.75rem;*/
    /*padding-right: 0.75rem;*/
    /*border-radius: 0.375rem;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-width: 1px;
    margin-left: 0.5rem;
}

.datatable-wrapper .dataTables_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.datatable-wrapper .dataTables_paginate {
    margin-right: auto;
}

@media (max-width: 639px) {
    .datatable-wrapper .dataTables_paginate {
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.75rem;
    }

    .datatable-wrapper .dataTables_paginate .paginate_button.previous {
        margin-left: 0;
    }
}

.datatable-wrapper .datatable {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100% !important;
}

@media (max-width: 639px) {
    .datatable-wrapper .datatable {
        margin-left: -0.75rem;
    }
}

.datatable-wrapper .datatable thead tr th {
    border-top-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.datatable-wrapper .datatable tbody tr {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
}
.datatable-wrapper .datatable tbody tr:hover {
    transform: scale(1.01, 1.01);
    position: relative;
    z-index: 20;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-width: 0;
    border-radius: 0.25rem;
}

.datatable-wrapper .datatable tbody tr:nth-child(even) {
    background-color: transparent;
}

.datatable-wrapper .datatable tbody tr:last-child td {
    border-bottom-width: 1px;
}

.datatable-wrapper .datatable tbody tr td.child .dtr-title {
    /*font-weight: 500;*/
}

.datatable-wrapper .datatable tbody tr td.child .dtr-data {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    border-bottom-width: 1px;
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
    padding-bottom: 1rem;
}

.datatable-wrapper .dataTables_info {
    display: flex;
    align-items: center;
}

@media (max-width: 639px) {
    .datatable-wrapper .dataTables_info {
        margin-left: auto;
        margin-right: auto;
    }
}

.datatable-wrapper .dataTables_paginate {
    display: flex;
    align-items: center;
}

.datatable-wrapper .dataTables_paginate span {
    display: flex;
}

.datatable-wrapper .dataTables_paginate .paginate_button {
    min-width: 40px;
    padding: 0.5rem 0.75rem;
    /*padding-bottom: 0.5rem;*/
    /*padding-left: ;*/
    /*padding-right: 0.75rem;*/
    border-radius: 0.375rem;
    /*font-weight: 500;*/
    cursor: pointer;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
    margin-left: 0.5rem;
}

.datatable-wrapper .dataTables_paginate .paginate_button.current {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    /*font-weight: 500;*/
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity));
}

.datatable-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child,
.datatable-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child {
    position: relative;
    padding-left: 2rem;
}

.datatable-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before,
.datatable-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-plus'%3E%3Cline x1='12' y1='5' x2='12' y2='19'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
    background-size: 80%;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    /*padding-right: 26px;*/
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: center;
}

table.dataTable th, table.dataTable td {
    box-sizing: content-box;
}

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "▲";
}


table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 0.125;
    right: 10px;
    line-height: 9px;
    font-size: 0.8em;
}


table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    position: absolute;
    display: block;
    opacity: 0.125;
    right: 10px;
    line-height: 9px;
    font-size: 0.8em;
}


table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    top: 50%;
    content: "▼";
}


table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:after {
    opacity: 0.6;
}
table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after {
    opacity: 0.6;
}