
.harmony-meta-list li{
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 2px 2px 1px rgb(86 86 86 / 12%) inset;
    backdrop-filter: blur(12px);
}
.harmony-meta-list-two{
    position: relative;
    overflow: hidden;
}
@media (max-width: 1022px){

    .harmony-meta-list-two-add{
        width: 5.2rem;
        height: 5.2rem;
        position: absolute;
        left: -20px;
        bottom: -20px;
        border-radius: 0 100% 0 0;
    }
}

.web-scroll{
    max-height: 100vh;
    overflow: auto;
}

.web-scroll::-webkit-scrollbar{
    width: 8px;
}
.web-scroll::-webkit-scrollbar-thumb{
    background: #1C3FAA;
    border-radius: 10px;

}

.discount-code-list li:nth-child(2n+2){
    background: #dadff1;
}