
.project{
    height: 350px;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: #947af9;
    color: white;
}
.project:hover h2,
.project:hover svg{
    color: white;
}
